@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

.products {
    @include tablet {
        @include desktop-margin-auto;
        
    }

    &__content {
        
        @include tablet {
            display: grid;
            grid-template-columns: 1.5fr 6fr;
            padding: 0 2rem;
        }
    }
}