@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

.products {
    @include tablet {
        @include desktop-margin-auto;
    }

    &__top-bar {
        padding: 0 1rem 0 0;

        @include tablet {
            padding: 0 2rem 0 2rem;
        }

        @include desktop {
            padding: 0;
        }
    }

    &__nav-list {
        @include ul-reset;
        display: flex;
        gap: 3rem;
        margin-left: 1rem;

        @include tablet {
            margin-left: 0;
            margin-bottom: 0;
            gap: 0rem;
            grid-area: "nav-tabs";
        }

        @include desktop {
            margin-left: 0;
            margin-bottom: 0;
        }
    }

    &__nav-list-item {
        cursor: pointer;
        text-decoration: underline;
        color: $secondary-text;

        @include tablet {
            border-left: 1px solid lightgray;
            border-right: 1px solid lightgray;
            border-top: 1px solid lightgray;
            border-bottom: 1px solid $primary-text;
            border-radius: 10px 10px 0 0;
            padding: .5rem 1rem .25rem 1rem;
            text-decoration: none;
        }

        &:hover {
            border-left: 1px solid $primary-text;
            border-right: 1px solid $primary-text;
            border-top: 1px solid $primary-text;
        }

        &--active {
            color: $primary-text;
            text-decoration: underline;
            cursor: pointer;

            @include tablet {
                border-left: 1px solid $primary-text;
                border-right: 1px solid $primary-text;
                border-top: 1px solid $primary-text;
                border-radius: 10px 10px 0 0;
                padding: .5rem 1rem .25rem 1rem;
                text-decoration: none;
            }
        }
    }



    &__blank {
        @include tablet {
            grid-area: "sort";
            height: 100%;
            border-bottom: 1px solid $primary-text;
        }
    }

    &__top-bar {
        display: flex;
        justify-content: center;

        @include tablet {
            display: grid;
            grid-template-columns: 1fr 4fr;
            grid-template-rows: auto;
            grid-template-areas: "nav-tabs sort";
        }
    }

    &__second-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 1rem;

        @include tablet {
            flex-direction: row;
            align-items: center;
            padding: 0 0.25rem 0 1rem;
        }
    }

    &__result-number {
        color: gray;
        font-size: .875rem;
    }

    &__page-content {
        @include tablet {
            margin: 0 2rem 1rem 2rem;
            border-left: 1px solid $primary-text;
            border-right: 1px solid $primary-text;
            border-bottom: 1px solid $primary-text;
            min-height: 90vh;
        }

        @include desktop {
            margin: 0 0 1rem 0;
        }
    }

    &__sort-container {
        padding: .5rem 1rem;
        display: flex;
        justify-content: flex-end;

        @include tablet {
            padding: .5rem 1rem;
        }
    }

    &__sort-label {
        padding: 0 .5rem 0 0;
        color: $primary-text;
    }

    &__sort-input {
        font-family: inherit;
    }

    &__content {
        @include tablet {
            display: grid;
            grid-template-columns: 1fr 4fr;
            padding: 0 1rem;
        }

        @include desktop {
            grid-template-columns: 1fr 5fr;
            padding: 0 1rem;
        }
    }
}