@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

.product-page {
    padding: 1rem 0;
    @include desktop-margin-auto;

    &__back-container {
        display: flex;
        align-items: center;
        padding: 0 1rem;

        @include tablet {
            padding: 0 2rem;
        }

        @include desktop {
            padding: 0;
        }
    }

    &__back {
        padding: 1rem 1rem 1rem 0.5rem;
        display: flex;
        align-items: center;
        font-size: 1.125rem;;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;

        @include tablet {
            flex-direction: row;
            align-items: flex-start;
            gap: 2rem;
            padding: 1rem 2rem;
        }

        @include desktop {
            padding: 0;
        }
    }

    &__image {
        width: 100%
    }

    &__image-container {
        width: calc(100vw - 2rem);
        display: flex;
        justify-content: center;
        border: 1px solid $primary-text;
    }

    &__name {
        padding: 0 1rem;
    }

    &__button {
        width: 8rem;
        padding: 1rem 0;
        display: flex;
        justify-content: center;
    }

    &__description {
        padding: 0 0 1.5rem 1rem;
        margin: 0;
    }

    &__details {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
            width: 100%;
        }
    }
}