@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

.product-page {
    @include desktop-margin-auto;

    &__back-container {
        display: flex;
        align-items: center;
        width: 2rem;
        padding: 0 1rem;
        border: none;
        &:hover {
            cursor: pointer;
        }

        @include tablet {
            padding: 1rem 2rem 0 2rem;
        }

        @include desktop {
            padding: .5rem 0 .5rem 0;
        }
    }

    &__back {
        padding: 1rem 1rem 1rem 0.5rem;
        display: flex;
        align-items: center;
        font-size: 1.125rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;

        @include tablet {
            flex-direction: row;
            align-items: flex-start;
            gap: 2rem;
            padding: 1rem 2rem;
        }

        @include desktop {
            padding: 0;
        }
    }

    &__image {
        width: 100%
    }

    &__image-container {
        width: calc(100vw - 2rem);
        display: flex;
        justify-content: center;
        border: 1px solid $primary-text;
    }

    &__name {
        font-size: 1.5rem;
        text-transform: capitalize;

        @include tablet {
            margin: 0 0 2rem 0;
        }
    }

    &__button {
        padding: 1rem 0;
        display: flex;
        justify-content: center;
    }

    &__button-text {
        width: 100%;
        border: none;
        text-align: center;
        border-radius: 20px;
        height: 2.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: inherit;
        background-color: $primary-button;
        color: $primary-global;
        padding: 0 1rem;
        width: fit-content;
        text-decoration: none;
        cursor: pointer;
        @include tablet {
            
        }
    }

    &__description {
        padding: 0 0 1.5rem 0;
        margin: 0;
    }

    &__length {
        padding: 0 0 1rem 0;
        display: flex;
        width: 100%;
    }
    &__price {
        font-weight: 600;
        font-size: 1.25rem;
    }

    &__details {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
            width: 100%;
        }
    }
}