@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

.banner {
    padding: 1rem;
    @include tablet {
        padding: 1rem;
    }

    @include desktop {
        padding: 2rem 1rem 0.5rem 1rem;
    }
}