@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

.banner {
    border: 1px solid $primary-text;
    margin: 0 1rem;
    padding: .5rem;

    @include desktop {
        margin: 0;
    }
}