// Light
@font-face {
    font-family: "Inter";
    src: url("../../assets/fonts/Inter-Light.woff2") format("woff2"),
         url("../../assets/fonts/Inter-Light.woff") format("woff)"),
         url("../../assets/fonts/Inter-Light.ttf") format("ttf");
    font-weight: 300;
}

// Regular
@font-face {
    font-family: "Inter";
    src: url("../../assets/fonts/Inter-Regular.woff2") format("woff2"),
         url("../../assets/fonts/Inter-Regular.woff") format("woff)"),
         url("../../assets/fonts/Inter-Regular.ttf") format("ttf");
}

// Bold
@font-face {
    font-family: "Inter";
    src: url("../../assets/fonts/Inter-Bold.woff2") format("woff2"),
         url("../../assets/fonts/Inter-Bold.woff") format("woff"),
         url("../../assets/fonts/Inter-Bold.ttf") format("ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Kumbh Sans";
    src: url("../../assets/fonts/KumbhSans-Black.woff2") format("woff2"),
         url("../../assets/fonts/KumbhSans-Black.woff") format("woff"),
         url("../../assets/fonts/KumbhSans-Black.ttf") format("ttf");
    font-weight: 900;
}