@mixin link-reset() {
    text-decoration: none;
    color: inherit;
}

@mixin ul-reset() {
    list-style-type: none;
    padding-left: 0;
}

@mixin desktop-margin-auto() {
    max-width: 1020px;
    margin: 0 auto;
}