@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

.product-card {
    max-width: calc(100vw / 2 - 3rem);
    height: 18rem;
    display: flex;
    flex-direction: column;


    @include tablet {
        max-width: calc(100vw / 2 - 6rem);
    }

    &__image {
        width: calc(100vw / 2 - 3rem);
        border: 1px solid $secondary-text;
    }

    &__product-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .5rem .5rem 0 .5rem;
    }

    &__name {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    &__price {
        display: inline;
    }
}