@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

.main {
    scroll-behavior:smooth;

    &__hero {
        width: auto;
        height: 30rem;
        // background-color: rgb(230, 230, 250, 0.5);
        display: flex;
        align-items: center;
        position: relative;

        @include tablet {
            height: 70vw;
        }

        @include desktop {
            height: calc(100vh - 4.9494rem);
        }
    }

    &__hero-background {
        width: 100%;
        position: relative;
        z-index: -1;
    }

    &__hero-background-top,
    &__hero-background-bottom {
        text-transform: uppercase;
        color: $secondary-background;
        font-family: "Kumbh Sans", sans-serif;
        font-size: calc(100vw / 4);
        line-height: calc(100vw / 5);
        display: flex;
        justify-content: center;
        align-items: center;

        @include tablet {
            font-size: 12rem;
            line-height: 13rem;
        }

        @include pre-desktop {
            font-size: 16rem;
        }
    }

    &__title-container {
        width: 100vw;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        // z-index: -1;
    }

    &__title {
        margin: 0;
        font-family: "Kumbh Sans", sans-serif;
        font-size: calc(100vw / 5);
        display: flex;
        justify-content: center;

        @include tablet {
            font-size: 10rem;
        }

        @include pre-desktop {
            font-size: 12rem;
        }
    }

    &__subtitle {
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: calc(100vw / 24);
        font-family: "Inter", sans-serif;
        font-weight: 300;

        @include tablet {
            font-size: 1.75rem;
        }
    }

    &__hero-button-container {
        padding-top: 1rem;
        width: 8rem;

        @include tablet {
            padding-top: 2rem;
        }
    }

    &__hero-button {
        background-color: $primary-button;
        width: 100%;
        border: none;
        text-align: center;
        border-radius: 20px;
        height: 2.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: inherit;
        text-transform: uppercase;
        font-size: .875rem;
        cursor: pointer;
        @include link-reset;
        color: $primary-global;

        @include tablet {
            height: 2.375rem;
            padding: 0 1rem;
            width: fit-content;
        }

        &:hover {
            background-color: $background-cta-hover;
            scale: 1.01;
        }
    }

    &__sports-carousel {

        @include desktop {
            padding: 3.5rem 0;
            height: 100vh;
        }
    }
}