@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

.main {
    &__hero {
        width: auto;
        height: 30rem;
        background-color: lavender;
        display: flex;
        align-items: center;

        @include tablet {
            height: 70vw;
        }

        @include desktop {
            height: calc(100vh - 4.9494rem);
        }
    }

    &__hero-background {
        width: 100%;
        position: relative;
    }

    &__hero-background-top,
    &__hero-background-bottom {
        text-transform: uppercase;
        color: $secondary-background;
        font-family: "Kumbh Sans", sans-serif;
        font-size: calc(100vw / 4);
        line-height: calc(100vw / 5);
        display: flex;
        justify-content: center;
        align-items: center;

        @include tablet {
            font-size: 12rem;
            line-height: 10rem;
        }
    }

    &__title-container {
        width: 100vw;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin: 0;
        font-family: "Kumbh Sans", sans-serif;
        font-size: calc(100vw / 5);
        display: flex;
        justify-content: center;

        @include tablet {
            font-size: 10rem;
        }
    }

    &__subtitle {
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 1.25rem;

        @include tablet {
            font-size: 1.75rem;
        }
    }

}