@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

.roster-page {
    &__title {
        padding: 1rem;

        @include tablet {
            padding: 2rem 2rem;
            @include desktop-margin-auto;
        }

        @include desktop {
            padding: 2rem 0;
        }
    }

    &__athletes-list {
        @include ul-reset;
        display: flex;
        flex-direction: column;
        justify-items:  center;
        align-items: center;
    }

}