@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as *;

.products-list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    @include ul-reset;
}