@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as *;

.products-list {
    width: 100%;
    gap: 1rem;
    @include ul-reset;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    padding: 0 1rem;

    @include tablet {
        width: 100%;
        padding: 0 .25rem;
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include desktop {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}