@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as *;

.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        flex-direction: row;
        justify-content: space-between
    }

    @include desktop {
        @include desktop-margin-auto;
    }

    &__title-link {
        @include link-reset;
        
        @include tablet {
            margin: 0 2rem;
        }

        @include desktop {
            margin: 0;
        }
    }

    &__nav {
        @include ul-reset;
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        width: 100%;

        @include tablet {
            width: auto;
            gap: 1rem;
            padding: 0 2rem;
            align-items: center;
        }

        @include desktop {
            padding: 0;
        }
    }

    &__nav-item {
        @include tablet {
            &:nth-child(2) {
                padding: 0 1rem;
            }
            &:nth-child(3) {
                width: 7rem;
            }
        }
    }

    &__nav-item-link {
        @include link-reset;
        text-transform: uppercase;
    }
}
