@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

.athlete-image {
    &__container {
        display: flex;
        justify-content: center;
    }
    
     &__image-container {
        display:flex;
        justify-content: center;
        position: relative;
        width: 20rem;
        padding-bottom: 6rem;
    }

    &__image {
        width: 20rem;
        display: flex;
    }

    &__button {
        width: 20px;
        height: 20px;
        position: absolute;
        animation: pulse 1s ease-in-out infinite alternate;
        cursor: pointer;

        &:hover {
            scale: 1.05;
        }
    }
}